#head1 {
  display: inline;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}
#navbar {
  background-color: #93B2D2;
  border-radius: 10px;
  text-align: center;

}
a {
  height: 25px;
  color: #293540;
  padding: 5px;
}
main {
  margin-top: 20px;
  background-color: #93B2D2;
  border-radius: 10px;
}
header {
  font-weight: bold;
  font-size: 20;
  text-align: center;
  padding-top: 5px;
}
li {
  margin-left: 20px;
}
.italy {
  font-style: italic;
}
p {
  margin-left: 20px;
}
body {
  background-color: #051650;
}
video {
  z-index: 999;
  user-select: none;
  position: fixed;
  margin: 0;
  border: none;
}
#Ryan {
  padding-bottom: 10px;
}
